html, 
body,
#map_canvas {
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	z-index: 0;
}

/*styles for setting the container div to the same as the map canvas height and width*/
.container-fluid {
	height:100%;
	width: 100%;
}